<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>MediMate</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />

    <!-- Bootstrap CSS (from CDN) -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Bootstrap Icons (from CDN) -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- AOS (Animate On Scroll) CSS (from CDN) -->
    <link
      href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css"
      rel="stylesheet"
    />

    <!-- GLightbox CSS (from CDN) -->
    <link
      href="https://cdn.jsdelivr.net/npm/glightbox@3.2.0/dist/css/glightbox.min.css"
      rel="stylesheet"
    />

    <!-- Swiper CSS (from CDN) -->
    <link
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Main CSS File -->
    <link href="/assets/css/indexjs.css" rel="stylesheet" />
  </head>

  <body class="index-page">
    <header id="header" class="header d-flex align-items-center sticky-top">
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center"
      >
        <a href="/" class="logo d-flex align-items-center me-auto">
          <img src="assets/img/sitelogo.png" alt="Logo" class="logo-img" />
        </a>
        <nav id="navmenu" class="navmenu">
          <ul>
            <li>
              <a href="#hero" class="active">Home<br /></a>
            </li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      </div>
    </header>

    <main class="main">
      <!-- About Section -->
      <section id="hero" class="hero section">
        <img src="assets/img/indexBackground.jpg" />

        <div class="container">
          <div class="row justify-content-center" data-aos="zoom-out">
            <div class="col-xl-7 col-lg-9 text-center">
              <h1>Welcome to MediMate</h1>
              <p>Your Trusted Partner In Comprehensive Healthcare Services.</p>
            </div>
          </div>
          <div class="text-center" data-aos="zoom-out" data-aos-delay="100">
            <a href="./signup" class="btn-get-started">Get Started</a>
          </div>

          <div class="row gy-4 mt-5">
            <div
              class="col-md-6 col-lg-3"
              data-aos="zoom-out"
              data-aos-delay="100"
            >
              <div class="icon-box">
                <div class="icon"><i class="bi bi-easel"></i></div>
                <h4 class="title"><a href="">Thank You</a></h4>
                <p class="description">
                  we are committed to providing top-notch healthcare services
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3"
              data-aos="zoom-out"
              data-aos-delay="200"
            >
              <div class="icon-box">
                <div class="icon"><i class="bi bi-gem"></i></div>
                <h4 class="title"><a href="">Personalized Care</a></h4>
                <p class="description">
                  We provide the best healthcare solutions to meet each
                  individual's unique needs, ensuring the best treatment for
                  you.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3"
              data-aos="zoom-out"
              data-aos-delay="300"
            >
              <div class="icon-box">
                <div class="icon"><i class="bi bi-geo-alt"></i></div>
                <h4 class="title"><a href="">24/7 Support</a></h4>
                <p class="description">
                  Our dedicated team of professionals is available around the
                  clock to assist you with any healthcare concerns or
                  emergencies
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3"
              data-aos="zoom-out"
              data-aos-delay="400"
            >
              <div class="icon-box">
                <div class="icon"><i class="bi bi-command"></i></div>
                <h4 class="title"><a href="">Expert Team</a></h4>
                <p class="description">
                  Our team consists of experienced healthcare providers,
                  specialists, and staff, committed to delivering high-quality
                  care to every patient.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Hero Section -->

      <!-- About Section -->
      <section id="about" class="about section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>About Us<br /></h2>
          <p style="font-size: 1.5rem; opacity: 0.7">
            MediMate is designed to enhance your appointment process.
          </p>
        </div>
        <!-- End Section Title -->

        <div class="container">
          <div class="row gy-4">
            <div
              class="col-lg-6 content"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <p style="font-size: 1.1rem">
                Efficient and effective healthcare services are essential in
                today's world and a critical component of these services is the
                ability to schedule and manage medical appointments through
                online platforms.
              </p>
              <p style="font-size: 1.1rem">
                MediMate is designed to enhance the appointment process, improve
                patient-doctor interactions and enhance administrative
                oversight.
              </p>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <p style="font-size: 1.1rem">
                By using modern technology, this system aims to provide a
                user-friendly platform for managing medical appointments and
                contributing to better healthcare outcomes.
              </p>
              <a href="#" class="read-more"
                ><span>Read More</span><i class="bi bi-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </section>
      <!-- /About Section -->

      <!-- Services Section -->
      <section id="services" class="services section light-background">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p style="font-size: 1.5rem; opacity: 0.7">
            Explore the variety of healthcare services tailored to your needs.
          </p>
        </div>
        <!-- End Section Title -->

        <div class="container">
          <div class="row gy-4">
            <!-- Service - Book Appointments -->
            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="service-item item-cyan position-relative">
                <div class="icon">
                  <i class="bi bi-calendar4-week"></i>
                </div>
                <a href="#services" class="stretched-link">
                  <h3>Book Appointments</h3>
                </a>
                <p>
                  Easily schedule appointments with healthcare professionals at
                  your convenience.
                </p>
              </div>
            </div>
            <!-- End Service Item -->

            <!-- Service - Doctor Feedback -->
            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="service-item item-orange position-relative">
                <div class="icon">
                  <i class="bi bi-chat-heart"></i>
                </div>
                <a href="#services" class="stretched-link">
                  <h3>Doctor Feedback</h3>
                </a>
                <p>
                  Receive personalized feedback and insights from your doctor to
                  improve your health.
                </p>
              </div>
            </div>
            <!-- End Service Item -->

            <!-- Service - Healthcare Services -->
            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="service-item item-teal position-relative">
                <div class="icon">
                  <i class="bi bi-plus-square"></i>
                </div>
                <a href="#services" class="stretched-link">
                  <h3>Healthcare Services</h3>
                </a>
                <p>
                  Access a variety of healthcare services, tailored to meet your
                  needs.
                </p>
              </div>
            </div>
            <!-- End Service Item -->

            <!-- Service 4: Online Doctor Channeling -->
            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="service-item item-red position-relative">
                <div class="icon">
                  <i class="bi bi-camera-video"></i>
                </div>
                <a href="#services" class="stretched-link">
                  <h3>Online Doctor Channeling</h3>
                </a>
                <p>
                  Connect with doctors online for virtual consultations from the
                  comfort of your home.
                </p>
              </div>
            </div>
            <!-- End Service Item -->

            <!-- Service - Medical Records Management -->
            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <div class="service-item item-indigo position-relative">
                <div class="icon">
                  <i class="bi bi-file-earmark-medical"></i>
                </div>
                <a href="#services" class="stretched-link">
                  <h3>Medical Records Management</h3>
                </a>
                <p>
                  Securely store and manage your medical records, making it
                  easier to access anytime.
                </p>
              </div>
            </div>
            <!-- End Service Item -->

            <!-- Service - 24/7 Customer Support -->
            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="600"
            >
              <div class="service-item item-pink position-relative">
                <div class="icon">
                  <i class="bi bi-headset"></i>
                </div>
                <a href="#services" class="stretched-link">
                  <h3>24/7 Customer Support</h3>
                </a>
                <p>
                  Our dedicated support team is available 24/7 to assist you
                  with any inquiries.
                </p>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
        </div>
      </section>
      <!-- /Services Section -->
    </main>

    <footer id="footer" class="footer light-background">
      <div class="container copyright text-center mt-4">
        <p>
          © <span>Copyright</span>
          <strong class="px-1 sitename">MediMate</strong>
          <span>All Rights Reserved</span>
        </p>
        <div class="credits">
          Designed by
          <a href="https://github.com/MediMateBooking">Medimate Team</a>
        </div>
      </div>
    </footer>

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Bootstrap JS (from CDN) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- AOS (Animate On Scroll) JS (from CDN) -->
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

    <!-- PureCounter JS (from CDN) -->
    <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs@1.6.0/dist/purecounter_vanilla.js"></script>

    <!-- GLightbox JS (from CDN) -->
    <script src="https://cdn.jsdelivr.net/npm/glightbox@3.2.0/dist/js/glightbox.min.js"></script>

    <!-- Swiper JS (from CDN) -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- ImagesLoaded JS (from CDN) -->
    <script src="https://cdn.jsdelivr.net/npm/imagesloaded@5.0.0/imagesloaded.pkgd.min.js"></script>

    <!-- Isotope Layout JS (from CDN) -->
    <script src="https://cdn.jsdelivr.net/npm/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="assets\js\indexjs.js"></script>
  </body>
</html>

<!-- under developing  -->
