.profile-sidebar{
  box-shadow: 2px 5px 20px 3px rgb(227, 227, 227);
}

.card{
  box-shadow: 2px 5px 20px 3px rgb(227, 227, 227);
}

#progress-bar {
  position: fixed;
  left: 0;
  top: 5rem;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, rgb(0, 159, 151), rgb(69, 208, 255),rgb(189, 246, 44)); 
  z-index: 99999;
  
}

#header{
  position: sticky;
  top: 0;
  z-index: 999999;
}

.dash-count{
  display: flex;
  align-items: start;
  gap: 0.6rem;
}

.dash-count2{
  display: flex;
  align-items: start;
  gap: 0.8rem;
}

#totalAppointments{
  width: 1.5rem;
}

#totalReview{
  width: 1.5rem;
}

#totalDoctors{
  width: 1.6rem;
}

#HDetails{
  width: 4.7rem;
  margin-top: -0.5rem;
}

#abbrevation{
  font-size: 0.9rem;
}

#patientAvatar{
  width: 5.3rem;
  height: 5.3rem;
}

.noAppointments{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9rem;
  cursor: pointer;
}

#addApointments{
  width: 2.5rem;
}

#noAppointments{
  margin: 0;
  margin-left: 1rem;
}