.noAppointments{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.9rem;
    cursor: pointer;
  }
  
  #addApointments{
    width: 2.5rem;
  }
  
  #noAppointments{
    margin: 0;
  }
